/* @theme custom-theme */

/* --h1-color is equal to #2C4C6B */

@import "default";

h1 {
  color: #2c4c6b;
  font-size: 2.8em;
}
h2 {
  color: #2c4c6b;
  font-size: 1.6em;
}
h3 {
  color: #2c4c6b;
  font-size: 1.4em;
}
h4 {
  color: #2c4c6b;
  font-size: 1.3em;
}
h5 {
  color: #2c4c6b;
  font-size: 1.2em;
}
h6 {
  color: #2c4c6b;
  font-size: 1.1em;
}
